<!DOCTYPE html>
<html lang="en">
<head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
            crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    <div id="app" >
        <div class="login-page">
            <div class="form">
              <form class="login-form">
                <input  v-model="addName" type="text" placeholder="username"/ >
                <input  v-model="addEmail" type="email" placeholder="email"/>
                <button @click="postLogin">login</button>
              </form>
            </div>
          </div>
    </div>
    <script>
        const axios = require('axios')
          var app = new Vue({
            el: '#app',
            data: {
                addName: '',
                addEmail: ''
            },
            
            methods: {
                postLogin() {
                    console.log('Login')
                    axios.post('http://35.240.157.177/request-token', {
                        
                        name: this.addName,
                        email: this.addEmail
                    })
                        .then(({ data }) => {
                            console.log(data);
                            // window.location ='index.html'
                            localStorage.setItem("token", data.uuid)
                            window.location ='home.html'

                        })
                        .catch(function (err) {
                            console.log(err)
                        })
                },

            }
        })
    </script>
</body>
</html>